extends layout

block header
    div(class="jumbotron text-center")
        p Login or Register with:

        a(href="/auth/login" class="btn btn-default") <span class="fa fa-user"></span> Local Login
        a(href="/auth/signup" class="btn btn-default") <span class="fa fa-user"></span> Local Signup

block content
