doctype html
html
    head
        title= title
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='/codebase/dhtmlxscheduler.js')
        script(src='/javascripts/global.js')
        
        link(rel='stylesheet', href='/codebase/dhtmlxscheduler.css', type='text/css', media='screen', title='no title', charset='utf-8')
        link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
        link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")

        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block header
        block content
